body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.face {
  background-color: #ffaa1e;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.eyes {
  /* background-color: rgba(55, 55, 48, 0.621); */
  width: 300px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.l-eye {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.r-eye {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.mouth {
  background-color: #ab3438;
  height: 50px;
  width: 150px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  border-radius: 0 0 30px 30px;
}
